!!! XML
!!! Strict
%html
  %head
    %link{:href => "/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen"}
    %link{:href => "/print.css", :rel => "stylesheet", :type => "text/css", :media => "print"}
  %body
    #form
      .left.column
        #date 
          "date"
        #address
          "address"
      .right.column
        #email
          "email"
        #bio
          "bio"
